/* This file is for your main application css. */

@import "./phoenix.css";

body, html {
    margin:0
}

.container {
    background: #f0f0f0;
    background: url('https://source.unsplash.com/1920x1080/?paper,people,ocr');
    padding: 1vh 0;
    width: 100%;
    max-width: unset;
}

.result-container, .document-container, .editor-container {
    width: 100%;
    box-shadow: 1px 2px 5px #ccc;
}

.result-container {
    padding: 20px;
}

.pages-container, .editor-container, .result-container {
    background: #fff;
    overflow-anchor: none;
}

.document-editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'document results';
    grid-gap: 1vw;
    /*max-width: 1200px;*/
    margin: 0 1vw;
}

.document-container {
    grid-area: document;
    overflow-y: hidden;
    height: inherit;
    background: #fff;
}

.editor-container {
    overflow: unset;
}

.editor-container textarea{
    margin: 0;
}


.ribbon {
    display: flex;
    justify-content: space-around;
    height: 5vh;
}

.ribbon button {
    font-size: 2rem;
    margin: auto;
}

/* Document container related styles */
.pages-container {
    border-left: 2px solid #ccc;
    border-radius: .4rem;
    padding: 0 2rem;
    grid-area: results;
    overflow-y: scroll;
    height: 93vh
}

.page-container {
    border: 1px solid #eee;
    box-shadow: 1px 2px 4px #aaa;
    margin: 10px 0;
}


/* Text editor related styles */
.text-container {

}
.document-editor  form {
    margin: 0;
}

#editor {
  height: 93vh;
  overflow: auto;
  padding: 1rem 2rem;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border-left: 2px solid #ccc;
  outline: none;
  width: 100%;
  resize: none;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Result related styles */
.markdown-container {
    height: 93vh;
    padding: 1rem 2rem;
}

/* Page preview related */

/* Utility classes */
.hidden {
    display: none;
}

#index {
    width: 75%;
    margin: auto;
    background: #fff;
    padding: 4rem;
    border-radius: .5rem;
}

.ocr_carea, .ocr_par, .ocrx_word, .ocr_line {
}

.ocr_area {
    margin: 10px auto;
    display: block
}
