<div class="document-editor">
<section id="index">
  <h1>Upload your article</h1>
  <p>
  <%= f = form_for @changeset, "/", [multipart: true] %>
    <%= file_input f, :file %>
    <%= submit "Okay", phx_disable_with: "Saving..." %>
  </form>
  </p>
</section>
</div>
